<?xml version="1.0" encoding="utf-8"?>

<packages>
	<package Id="Bundle.Microsoft.SqlServer.SMO" version="12.0.2000" targetFramework="net461" />
	<package Id="Cinteros.Xrm.CRMWinForm" version="2019.4.22.1" targetFramework="net461" />
	<package Id="ClosedXML" version="0.94.2" targetFramework="net461" />
	<package Id="ClosedXML_Excel" version="1.0.0" targetFramework="net461" />
	<package Id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net461" />
	<package Id="CrystalDecisions.Shared" version="1.0.0" targetFramework="net461" />
	<package Id="CrystalDecisions.Windows.Forms" version="1.0.0" targetFramework="net461" />
	<package Id="CrystalReports.ReportAppServer.CommLayer" version="13.0.3501" targetFramework="net45" />
	<package Id="CrystalReports.ReportAppServer.CommonObjectModel" version="13.0.3501" targetFramework="net45" />
	<package Id="CrystalReports.ReportAppServer.Controllers" version="13.0.3501" targetFramework="net45" />
	<package Id="CrystalReports.ReportAppServer.CubeDefModel" version="13.0.3501" targetFramework="net45" />
	<package Id="CrystalReports.ReportAppServer.DataDefModel" version="13.0.3501" targetFramework="net45" />
	<package Id="CrystalReports.ReportAppServer.ReportDefModel" version="13.0.3501" targetFramework="net45" />
	<package Id="CrystalReports.Shared" version="13.0.3501" targetFramework="net45" />
	<package Id="DG.AdvancedDataGridView" version="1.1.23503.5" targetFramework="net461" />
	<package Id="DocumentFormat.OpenXml" version="2.9.1" targetFramework="net461" />
	<package Id="ExcelNumberFormat" version="1.0.7" targetFramework="net461" />
	<package Id="Experimental.System.Messaging" version="1.0.0" targetFramework="net461" />
	<package Id="FastMember" version="1.5.0" targetFramework="net461" />
	<package Id="FreeSpire.PDFViewer" version="4.1.0" targetFramework="net461" />
	<package Id="log4net" version="2.0.8" targetFramework="net45" />
	<package Id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
	<package Id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net461" />
	<package Id="Microsoft.Bcl.HashCode" version="1.1.0" targetFramework="net461" />
	<package Id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.0.7" targetFramework="net461" />
	<package Id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
	<package Id="Microsoft.Data.SqlClient" version="1.0.19269.1" targetFramework="net461" />
	<package Id="Microsoft.Data.SqlClient.SNI" version="1.0.19235.1" targetFramework="net461" />
	<package Id="Microsoft.EntityFrameworkCore" version="3.1.0" targetFramework="net461" />
	<package Id="Microsoft.EntityFrameworkCore.Abstractions" version="3.1.0" targetFramework="net461" />
	<package Id="Microsoft.EntityFrameworkCore.Analyzers" version="3.1.0" targetFramework="net461" />
	<package Id="Microsoft.EntityFrameworkCore.Relational" version="3.1.0" targetFramework="net461" />
	<package Id="Microsoft.EntityFrameworkCore.SqlServer" version="3.1.0" targetFramework="net461" />
	<package Id="Microsoft.Extensions.Caching.Abstractions" version="3.1.0" targetFramework="net461" />
	<package Id="Microsoft.Extensions.Caching.Memory" version="3.1.0" targetFramework="net461" />
	<package Id="Microsoft.Extensions.Configuration" version="3.1.0" targetFramework="net461" />
	<package Id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.0" targetFramework="net461" />
	<package Id="Microsoft.Extensions.Configuration.Binder" version="3.1.0" targetFramework="net461" />
	<package Id="Microsoft.Extensions.Configuration.FileExtensions" version="1.1.2" targetFramework="net461" />
	<package Id="Microsoft.Extensions.Configuration.Json" version="1.1.2" targetFramework="net461" />
	<package Id="Microsoft.Extensions.DependencyInjection" version="3.1.0" targetFramework="net461" />
	<package Id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.0" targetFramework="net461" />
	<package Id="Microsoft.Extensions.FileProviders.Abstractions" version="1.1.1" targetFramework="net461" />
	<package Id="Microsoft.Extensions.FileProviders.Physical" version="1.1.1" targetFramework="net461" />
	<package Id="Microsoft.Extensions.FileSystemGlobbing" version="1.1.1" targetFramework="net461" />
	<package Id="Microsoft.Extensions.Logging" version="3.1.0" targetFramework="net461" />
	<package Id="Microsoft.Extensions.Logging.Abstractions" version="3.1.0" targetFramework="net461" />
	<package Id="Microsoft.Extensions.Options" version="3.1.0" targetFramework="net461" />
	<package Id="Microsoft.Extensions.Primitives" version="3.1.0" targetFramework="net461" />
	<package Id="Microsoft.Identity.Client" version="3.0.8" targetFramework="net461" />
	<package Id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net461" />
	<package Id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
	<package Id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net461" />
	<package Id="Microsoft.SqlServer.ConnectionInfo.dll" version="1.0.1" targetFramework="net461" />
	<package Id="Microsoft.SqlServer.Management.Sdk.Sfc.dll" version="1.0.1" targetFramework="net461" />
	<package Id="Microsoft.SqlServer.Scripting" version="11.0.2100.61" targetFramework="net461" />
	<package Id="Microsoft.SqlServer.Smo.dll" version="1.0.1" targetFramework="net461" />
	<package Id="Microsoft.VisualBasic" version="10.3.0" targetFramework="net461" />
	<package Id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net461" />
	<package Id="Microsoft.Xaml" version="4.0.0.1" targetFramework="net461" />
	<package Id="NETStandard.Library" version="1.6.1" targetFramework="net461" />
	<package Id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
	<package Id="Office" version="12.0.0" targetFramework="net461" />
	<package Id="PresentationFramework" version="4.6.0" targetFramework="net461" />
	<package Id="Remotion.Linq" version="2.2.0" targetFramework="net461" />
	<package Id="RestClient" version="2.5.0.6" targetFramework="net461" />
	<package Id="Spire.PDFViewer" version="4.1.5" targetFramework="net461" />
	<package Id="System.AppContext" version="4.3.0" targetFramework="net461" />
	<package Id="System.Buffers" version="4.5.0" targetFramework="net461" />
	<package Id="System.Collections" version="4.3.0" targetFramework="net461" />
	<package Id="System.Collections.Concurrent" version="4.3.0" targetFramework="net461" />
	<package Id="System.Collections.Immutable" version="1.7.0" targetFramework="net461" />
	<package Id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net461" />
	<package Id="System.Console" version="4.3.0" targetFramework="net461" />
	<package Id="System.Core" version="3.5.21022.801" targetFramework="net461" />
	<package Id="System.Data.Common" version="4.3.0" targetFramework="net461" />
	<package Id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net461" />
	<package Id="System.Diagnostics.DiagnosticSource" version="4.7.0" targetFramework="net461" />
	<package Id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net461" />
	<package Id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net461" />
	<package Id="System.Globalization" version="4.3.0" targetFramework="net461" />
	<package Id="System.Globalization.Calendars" version="4.3.0" targetFramework="net461" />
	<package Id="System.Interactive.Async" version="3.2.0" targetFramework="net461" />
	<package Id="System.IO" version="4.3.0" targetFramework="net461" />
	<package Id="System.IO.Compression" version="4.3.0" targetFramework="net461" />
	<package Id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net461" />
	<package Id="System.IO.FileSystem" version="4.3.0" targetFramework="net461" />
	<package Id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
	<package Id="System.IO.Packaging" version="4.5.0" targetFramework="net461" />
	<package Id="System.Linq" version="4.3.0" targetFramework="net461" />
	<package Id="System.Linq.Expressions" version="4.3.0" targetFramework="net461" />
	<package Id="System.Management" version="4.5.0" targetFramework="net461" />
	<package Id="System.Memory" version="4.5.3" targetFramework="net461" />
	<package Id="System.Net.Http" version="4.3.4" targetFramework="net461" />
	<package Id="System.Net.Http.Formatting.Extension" version="5.2.3.0" targetFramework="net461" />
	<package Id="System.Net.Primitives" version="4.3.0" targetFramework="net461" />
	<package Id="System.Net.Sockets" version="4.3.0" targetFramework="net461" />
	<package Id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
	<package Id="System.ObjectModel" version="4.3.0" targetFramework="net461" />
	<package Id="System.Reflection" version="4.3.0" targetFramework="net461" />
	<package Id="System.Reflection.Extensions" version="4.3.0" targetFramework="net461" />
	<package Id="System.Reflection.Primitives" version="4.3.0" targetFramework="net461" />
	<package Id="System.global::MrBLL.Properties.Resources.ResourceManager" version="4.3.0" targetFramework="net461" />
	<package Id="System.Runtime" version="4.3.0" targetFramework="net461" />
	<package Id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net461" />
	<package Id="System.Runtime.Extensions" version="4.3.0" targetFramework="net461" />
	<package Id="System.Runtime.Handles" version="4.3.0" targetFramework="net461" />
	<package Id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net461" />
	<package Id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
	<package Id="System.Runtime.Numerics" version="4.3.0" targetFramework="net461" />
	<package Id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
	<package Id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
	<package Id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
	<package Id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net461" />
	<package Id="System.Text.Encoding" version="4.3.0" targetFramework="net461" />
	<package Id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net461" />
	<package Id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net461" />
	<package Id="System.Threading" version="4.3.0" targetFramework="net461" />
	<package Id="System.Threading.Tasks" version="4.3.0" targetFramework="net461" />
	<package Id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net461" />
	<package Id="System.Threading.Timer" version="4.3.0" targetFramework="net461" />
	<package Id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net461" />
	<package Id="System.Xml.XDocument" version="4.3.0" targetFramework="net461" />
	<package Id="System.Xml.XmlSerializer" version="4.3.0" targetFramework="net461" />
	<package Id="Unofficial.Microsoft.SQLServer.SMO.2014" version="12.0.2000.8" targetFramework="net461" />
	<package Id="VisualBasic.PowerPacks.Vs" version="1.0.0" targetFramework="net461" />
	<package Id="Zen.Barcode.Core.Code128" version="3.1.0" targetFramework="net461" />
</packages>