AMS/obj
AMS/bin
DAL/obj
DAL/bin
DAL/bin/Debug
DAL/bin/Debug/MrDAL.dll
DAL/bin/Debug/MrDAL.pdb
*.cache
*.dll
*.exe
AMS/bin/Debug/MrSolution.application
.vs/MrSolution/v15/.suo
.vs/MrSolution/v15/Server/sqlite3/storage.ide
.vs/MrSolution/v15/Server/sqlite3/storage.ide-wal
AMS/bin/Debug/app.publish/MrSolution.exe
AMS/bin/Debug/MrSolution.application
AMS/bin/Debug/MrSolution.exe
AMS/obj/Debug/MrSolution.pdb
AMS/obj/Debug/yo-NG/MrSolution.resources.dll
AMS/obj/Debug/MrSolution.exe.manifest
AMS/obj/Debug/MrSolution.exe
